html,
body {
  height: 100%;
  margin: 0;
}

main {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image: url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format");
  background-size: cover;
  margin-bottom: 0;

  .container {
    height: 100%;
  }

  .login-form {
    height: 100%;
  }
}